<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
<<<<<<< HEAD
                <img src="https://i.ibb.co/Hxfjk2h/banner.png" class="d-block w-100" alt="...">
=======
                <img src="/images/banner.png" class="d-block w-100" alt="...">
>>>>>>> fd7e52fd5710dfbee6182bef68c00c7c6ef08dac
                <div class="carousel-caption d-none d-md-block">
                  <h5>Jamón y Morrones</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </div>
              <div class="carousel-item">
<<<<<<< HEAD
                <img src="https://i.ibb.co/WKmcWjh/esp-Banner.png" class="d-block w-100" alt="...">
=======
                <img src="/images/espBanner.png" class="d-block w-100" alt="...">
>>>>>>> fd7e52fd5710dfbee6182bef68c00c7c6ef08dac
                <div class="carousel-caption d-none d-md-block">
                  <h5>Espinaca y Salsa blanca</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
              <div class="carousel-item">
<<<<<<< HEAD
                <img src="https://i.ibb.co/mG6JL01/polloba.png" class="d-block w-100" alt="...">
=======
                <img src="/images/polloba.png" class="d-block w-100" alt="...">
>>>>>>> fd7e52fd5710dfbee6182bef68c00c7c6ef08dac
                <div class="carousel-caption d-none d-md-block">
                  <h5>Pollo y barbacoa</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>          
      
        
       