<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="<%=productos.imagen%>" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title"><%=productos.nombre%></h1>
          <h2 class="card-text"><small><%=productos.detalle%>.</small></h2>
          <h3 class="card-text">$<%=productos.precio_grande%></h3>
        </div>
      </div>
    </div>
  </div>
