
<footer>
  <div class="container">
    <div class=" row col-12  ">
      

      <ul>Menu
        <li><a href="/products">Pizzas</a></li>
      </ul>
      <ul>Eventos
        <li><a>Próximos</a></li>
      </ul>
      <ul>Sobre Nosotros
        <li><a></a></li>
      </ul>
      <ul>Locales
        <li><a>Nuestros Locales</a></li>
      </ul>

      <ul>Las Mejores Ofertas
        <li><a>Pizza box</a></li>
        <li><a>2x1 jueves</a></li>

        <li><a>Creá tu pizza 50% OFF</a> </li>
 
      </ul>

      <ul> Mi cuenta

        <li><a href="/">Ingresa</a></li>
        <li><a  href="/register">Creá tu cuenta</a></li>
         <li "><a>Mi cuenta</a></li>
      </ul>



      <ul>Politicas

        <li><a>Politicas de privacidad</a></li>
        <li>
          <a>Términos de Uso</a></li>


      </ul>
<div class="container col-12">
    <div class="redes-sociales col">
       <a href=""><i class="fab fa-instagram" style="color: rgba(190, 4, 150, 0.562);"></i></a>
      <a href=""><i class="fab fa-whatsapp" style="color: rgba(35, 160, 19, 0.767);"></i></a>
      <a href=""><i class="fab fa-twitter" style="color: rgb(0, 174, 255);"></i></a>
      <a href=""><i class="fab fa-facebook-square" style="color: rgb(9, 9, 201);"></i></a>
    </div>

  </div>
  </div>
  </div>
</footer>

 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
 