

    <div class=" row col-12 ">

      <ul>Menu
        <li><a>crea tu Pizaa</a></li>
      </ul>
      <ul>Eventos
        <li><a>Proximos</a></li>
      </ul>
      <ul>Sobre Nosotros
        <li><a></a></li>
      </ul>
      <ul>Locales
        <li><a>Nuestros Locales</a></li>
      </ul>
      <ul>Las Mejores Ofertas
        <li><a>Pizza box</a></li>
        <li><a>2x1 jueves</a></li>
        <li><a>Crea Tu pizza 50% OFF</a>
        </li>
      </ul>


      <ul>Mi cuenta
        <li><a>Registrase</a></li>
        <li><a>crear tu cuenta</a></li>
        <li><a>Mi cuenta</a></li>
      </ul>



      <ul>Politicas
        <li><a>Politicas de privasidad</a></li>
        <li><a>Terminos de Uso</a></li>


      </ul>

    <div class="redes-sociales col">
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-whatsapp"style="color: green;""></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-square" style="color: red;"></i></a>
    </div>



    </div>
 