
<<<<<<< HEAD
<div class="container">
    <div class=" row col-12 ">
      

      <ul>Menu
        <li><a>Creá tu Pizza</a></li>
      </ul>
      <ul>Eventos
        <li><a>Próximos</a></li>
=======

    <div class=" row col-12 ">

      <ul>Menu
        <li><a>crea tu Pizaa</a></li>
      </ul>
      <ul>Eventos
        <li><a>Proximos</a></li>
>>>>>>> d7bcef8bf14045fce3318af4c64697e140b5599b
      </ul>
      <ul>Sobre Nosotros
        <li><a></a></li>
      </ul>
      <ul>Locales
        <li><a>Nuestros Locales</a></li>
      </ul>
      <ul>Las Mejores Ofertas
        <li><a>Pizza box</a></li>
        <li><a>2x1 jueves</a></li>
<<<<<<< HEAD
        <li><a>Creá tu pizza 50% OFF</a>
=======
        <li><a>Crea Tu pizza 50% OFF</a>
>>>>>>> d7bcef8bf14045fce3318af4c64697e140b5599b
        </li>
      </ul>


      <ul>Mi cuenta
<<<<<<< HEAD
        <li><a>Registrarse</a></li>
        <li><a>Creá tu cuenta</a></li>
=======
        <li><a>Registrase</a></li>
        <li><a>crear tu cuenta</a></li>
>>>>>>> d7bcef8bf14045fce3318af4c64697e140b5599b
        <li><a>Mi cuenta</a></li>
      </ul>



      <ul>Politicas
<<<<<<< HEAD
        <li><a>Politicas de privacidad</a></li>
        <li><a>Términos de Uso</a></li>


      </ul>
<div class="container col-12">
    <div class="redes-sociales col">
      <a href=""><i class="fab fa-instagram" style="color: rgba(190, 4, 150, 0.562);"></i></a>
      <a href=""><i class="fab fa-whatsapp" style="color: rgba(35, 160, 19, 0.767);"></i></a>
      <a href="#"><i class="fab fa-twitter" style="color: rgb(0, 174, 255);"></i></a>
      <a href="#"><i class="fab fa-facebook-square" style="color: rgb(9, 9, 201);"></i></a>
    </div>

  </div>
  </div>
=======
        <li><a>Politicas de privasidad</a></li>
        <li><a>Terminos de Uso</a></li>


      </ul>

    <div class="redes-sociales col">
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-whatsapp"style="color: green;""></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-square" style="color: red;"></i></a>
    </div>



>>>>>>> d7bcef8bf14045fce3318af4c64697e140b5599b
    </div>
 