

<div class="container">
    <div class=" row col-12 ">
      

      <ul>Menu
        <li><a>Creá tu Pizza</a></li>
      </ul>
      <ul>Eventos
        <li><a>Próximos</a></li>
      </ul>
      <ul>Sobre Nosotros
        <li><a></a></li>
      </ul>
      <ul>Locales
        <li><a>Nuestros Locales</a></li>
      </ul>

      <ul>Las Mejores Ofertas
        <li><a>Pizza box</a></li>
        <li><a>2x1 jueves</a></li>

        <li><a>Creá tu pizza 50% OFF</a> </li>
 
      </ul>

      <ul> Mi cuenta

        <li><a>Registrarse</a></li>
        <li><a>Creá tu cuenta</a></li>
         <li><a>Mi cuenta</a></li>
      </ul>



      <ul>Politicas

        <li><a>Politicas de privacidad</a></li>
        <li><a>Términos de Uso</a></li>


      </ul>
<div class="container col-12">
    <div class="redes-sociales col">
      <a href=""><i class="fab fa-instagram" style="color: rgba(190, 4, 150, 0.562);"></i></a>
      <a href=""><i class="fab fa-whatsapp" style="color: rgba(35, 160, 19, 0.767);"></i></a>
      <a href="#"><i class="fab fa-twitter" style="color: rgb(0, 174, 255);"></i></a>
      <a href="#"><i class="fab fa-facebook-square" style="color: rgb(9, 9, 201);"></i></a>
    </div>

  </div>
  </div>
 </div>
 