<div id="logo-profile" >
  <img src="https://i.ibb.co/Htm5ZXY/Barukicon.jpg" alt="Barukicon"  width="90" zoom="">
</div>

<nav class="nav-profile"> 
  
  <ul class="ul-profile">
  
  <li class="li-profile">
     Nombre del usuario
  </li>
  
  
  <li class="li-profile">
  <a ><img class ="avatar-profile" src="/public/avatar/Homero.png" width="45" ></a>
</li>
<hr>

<li class="li-profile">
  <i class="fas fa-sign-out-alt" ></i> logout
</li>
</ul>
</nav>




