<div id="logo-profile"  >
 <a href="/users/profile"> <img  src="https://i.ibb.co/Htm5ZXY/Barukicon.jpg" alt="Barukicon"  width="90" > </a>
</div>

<nav class="nav-profile"> 
  
  <ul class="ul-profile">
  
  <li class="li-profile">
     <%= user.nombre %>
  </li>
  
  
  <li class="li-profile">
  <a ><img class ="avatar-profile" src="/public/avatar/Homero.png" width="45" ></a>
</li>
<hr>

<li  class="li-profile">
  <a style="text-decoration: none; color: black;"  href="/"><i class="fas fa-sign-out-alt" ></i> logout </a>
</li>
</ul>
</nav>




