<section class="container-fluid productos">
  <div class="row">
    <div class="col-12 tit">
      <h2 class="titulo-pizzas">Pizzas Especiales</h2>
    </div>
  </div>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
            <div class="card box" >
              <img src="https://i.ibb.co/jy8Jpxz/pollo-y-bbq.jpg" class="card-img-top" alt="Pollo y bbq">
              <div class="card-body">
              <h5 class="card-title">Pollo y Barbacoa</h5>
              <p class="card-text">Salsa de tomate, muzzarella, pollo y barbacoa.</p>
              <h2>$350</h2>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>   
              </div>
  
            <div class="col-12 col-sm-6 col-lg-3">           
            <div class="card box">
            <img src="https://i.ibb.co/1nGv6Tg/champig-on.jpg" class="card-img-top" alt="Champigñon">
            <div class="card-body">
            <h5 class="card-title">Champigñon</h5>
            <p class="card-text">Salsa de tomate, muzzarella, champigñon y puerro.</p>
            <h2>$350</h2>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>   
          </div>
  
          <div class="col-12 col-sm-6 col-lg-3">           
            <div class="card box">
              <img src="https://i.ibb.co/HCn4x8N/P-espinaca.jpg" class="card-img-top" alt="Espinaca y salsa blanca">
            <div class="card-body">
            <h5 class="card-title">Espinaca y Salsa blanca</h5>
            <p class="card-text">Salsa de tomate, espinacha, salsa bechamel y muzzarella.</p>
            <h2>$350</h2>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>        
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>   
          </div>    
  
            <div class="col-12 col-sm-6 col-lg-3">   
            <div class="card box">
                <img src="https://i.ibb.co/ZBYPRt2/cebollaC.jpg" class="card-img-top" alt="Cebolla caramelizada">
                <div class="card-body">
                <h5 class="card-title">Cebolla Caramelizada</h5>
                <p class="card-text">Salsa de tomate, muzzarella, cebolla caramelizada y vino tinto</p>
                <h2>$350</h2>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>             
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>              
              </div>
    </div> 
</section>  

      
<section class="container-fluid productos">
  <div class="row">
    <div class="col-12 tit">
      <h2 class="titulo-pizzas">Pizzas Clasicas</h2>
    </div>
  </div>
  
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3">
            <div class="card box">
              <img src="https://i.ibb.co/mHfn32y/muzzarella.jpg" class="card-img-top" alt="Muzzarella">
              <div class="card-body">
                <h5 class="card-title">Muzzarella</h5>
                <p class="card-text">Salsa de tomate, muzzarella y oregano.</p><br>
                <h3>$250</h3>
              <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tamaño
              </button>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Individual</a>
              <a class="dropdown-item" href="#">Mediana</a>
              <a class="dropdown-item" href="#">Grande</a>
              </div>
              </div>
              <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
              </div>
            </div>
      </div> 
  
            <div class="col-12 col-sm-6 col-lg-3">           
            <div class="card box">
              <img src="https://i.ibb.co/WFxDTky/cebolla.jpg" class="card-img-top" alt="Fugazzeta">
              <div class="card-body">
              <h5 class="card-title">Fugazzeta</h5>
              <p class="card-text">Salsa de tomate, muzzarella, cebolla</p><br>
              <h3>$250</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>   
          </div>
  
          <div class="col-12 col-sm-6 col-lg-3">           
            <div class="card box">
              <img src="https://i.ibb.co/FHf1MgN/napo.jpg" class="card-img-top" alt="Napolitana">
              <div class="card-body">
              <h5 class="card-title">Napolitana</h5>
              <p class="card-text">Salsa de tomate, muzzarella, tomate, ajo y oregano.</p>
              <h3>$300</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>   
          </div>    
  
            <div class="col-12 col-sm-6 col-lg-3">   
            <div class="card box">
              <img src="https://i.ibb.co/hLkDyBy/jamon.jpg" class="card-img-top" alt="jamon">
              <div class="card-body">
              <h5 class="card-title">Jamón</h5>
              <p class="card-text">Salsa de tomate, muzzarella, jamón y oregano.</p>
              <h3>$300</h3>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>             
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>              
              </div>
    </div> 
</section>                                           
      
     
<section class="container-fluid productos">
<div class="row">
<div class="col-12 col-sm-6 col-lg-3">  
        <div class="card box">
        <img src="https://i.ibb.co/W3w1Mtr/Peperoni.jpg" class="card-img-top" alt="Peperoni">
        <div class="card-body">
        <h5 class="card-title">Peperoni</h5>
        <p class="card-text">Salsa de tomate, muzzarella y peperoni.</p><br><br>
        <h3>$250</h3>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Tamaño
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Individual</a>
        <a class="dropdown-item" href="#">Mediana</a>
        <a class="dropdown-item" href="#">Grande</a>
        </div>
        </div>
        <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
       </div> 

        <div class="col-12 col-sm-6 col-lg-3">               
          <div class="card box">
        <img src="https://i.ibb.co/g7ScW5Z/jamon-y-morrones.jpg" class="card-img-top" alt="jamon y morrones">
        <div class="card-body">
        <h5 class="card-title">Jamón y Morrón</h5>
        <p class="card-text">Salsa de tomate, muzzarella, jamón y morrones asados.</p>
        <h3>$300</h3>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tamaño
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Individual</a>
        <a class="dropdown-item" href="#">Mediana</a>
        <a class="dropdown-item" href="#">Grande</a>
        </div>
        </div>
        <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
         </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card box">
        <img src="https://i.ibb.co/zFKJmrh/Provolone.jpg" class="card-img-top" alt="Provolone">
        <div class="card-body">
        <h5 class="card-title">Provolone</h5>
        <p class="card-text">Salsa de tomate, provolone y muzzarella.</p><br><br>
        <h3>$350</h3>
        <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Tamaño
        </button>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Individual</a>
        <a class="dropdown-item" href="#">Mediana</a>
        <a class="dropdown-item" href="#">Grande</a>
        </div>
        </div>
        <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
        </div>
        </div>
        </div>    

        <div class="col-12 col-sm-6 col-lg-3">
          <div class="card box">
          <img src="https://i.ibb.co/X4pBsYg/Cheddar.jpg" alt="Cheddar" width="100%" >
            <div class="card-body">
            <h5 class="card-title">Cheddar y Panceta</h5>
            <p class="card-text">Salsa de tomate, muzzarella, Cheddar y panceta</p><br><br>
            <h3>$250</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
          </div>
</div> 
</section>