<!DOCTYPE html>
<html lang="en">
<head>  
  <%- include("partials/head") %>
</head>
<body>
  <header>
    <%- include("partials/header") %>
  </header>
    
<!--Inicio secction-->
<section class="  container ap ">

    <div class="container row wrap rt col-6">
          <form class="formulario container-fluid">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label >Categoria  </label>
                     

                      <input type="text"  class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                      <label >Nombre</label>
                      <input type="text" class="form-control" >
                    </div>
                  </div>
                  <form class="formulario container-fluid">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label>precio</label>
                              <input type="email" class="form-control" >
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tamaños :</label><br>
                              <input type="checkbox"  val="pequeña">
                              <label class="form-check-label" >Pequeña</label> <br>
                              <input type="checkbox" val="Mediana" >
                              <label class="form-check-label" >Mediana</label>
                              <input type="checkbox" val="Grandre" >
                              <label class="form-check-label" >grande</label>
                            </div>
                          </div>
                  <div class="form-group">
                    <label for="inputAddress">Detalles</label>
                    <input type="text" class="form-control"  placeholder="Rica pizza de ....">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">Producto</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label ">Otro</label>
                      <select  class="form-control">
                        <option selected>otro</option>
                        <option>...</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label >IdProducto</label>
                      <input type="text" class="form-control" >
                    </div>
                  </div>
                  <button type="submit" class="btn btn-danger">Cargar Datos</button>
                </form>
              </div>

              <div class="container  row wrap col-6 carga">
              <form>
                  <div class="form-group">
                    <label >Entrada Del archivo</label>
                    <input type="file" class="form-control-file" >
                  </div>
                </form>
              </div>
                
                
    
  </section>

  
    
 
<footer>
  <%- include("partials/footer") %>
</footer>

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>    
</body>
</html>