<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
    
</head>
<body class="error">



    

    <div class="papa">

        <div class="papa2" >
            <h1 id="h1error" >404</h1>   
            
            <h2 id="h2error">ERROR</h2>

           <h3 id="h3error">Oops !! Page not found</h3>


          <div><a id="buterror" href="/">BACK TO HOME</a></div>
            </div>

           
     </div>
     
        
  
    
</body>
</html>
