<!DOCTYPE html>
<html>

<head>
 <%- include("partials/head") %>

</head>

<body >
  <div class="container-fluid">

    
    <header>
      <%- include("partials/header") %>
    </header>
    <!--Inicio secction-->
    <section>
      <div class="principal">


          <%- include("partials/carrusel") %>
          <div class="ubicacion">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9291.158599679857!2d-58.42890714038579!3d-34.58087492063201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb59c771eb933%3A0x6b3113b596d78c69!2sPalermo%2C%20CABA!5e0!3m2!1ses!2sar!4v1575665860046!5m2!1ses!2sar"
              width="500" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>          

      </div>
    </section>


    <!--footer-->
    <footer>
      <%- include("partials/footer")%>
    </footer>

  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>