<!DOCTYPE html>
<html>
<head>
 <%- include("partials/head") %>
</head>

<body>

  <div >
    <%- include("partials/header")  %>
    
  </div>

    <!--Inicio secction-->
<section class="container-fluid productos p1">
        <div class="row">
        <div class="col-12 tit">
        <h2 class="titulo-pizzas">Pizzas Especiales</h2>
        </div>    
        <div class="col-12 col-sm-6 col-lg-3">
         <section class="box">  
                <div class="card" style="width: 18rem;">
                <img src="../public/images/pollo y bbq.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Pollo y Barbacoa</h5>
                <p class="card-text">Salsa de tomate, muzzarella, pollo y barbacoa.</p>
                <h2>$350</h2>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Extra Grande</a>
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>
              </section>         
              </div> 
      
                <div class="col-12 col-sm-6 col-lg-3"> 
                <section class="box">            
                <div class="card" style="width: 18rem;">
                <img src="../public/images/champigñon.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Champigñon</h5>
                <p class="card-text">Salsa de tomate, muzzarella, champigñon y puerro.</p>
                <h2>$350</h2>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Extra Grande</a>
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>
              </section>    
              </div>
      
                <div class="col-12 col-sm-6 col-lg-3">
              <section class="box">
                <div class="card" style="width: 18rem;">
                <img src="../public/images/P.espinaca.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Espinaca y Salsa blanca</h5>
                <p class="card-text">Salsa de tomate, espinacha, salsa bechamel y muzzarella.</p>
                <h2>$350</h2>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Extra Grande</a>
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>
              </section>   
              </div>    
      
                <div class="col-12 col-sm-6 col-lg-3">
              <section class="box">    
                <div class="card" style="width: 18rem;">
                    <img src="../public/images/cebollaC.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Cebolla Caramelizada</h5>
                    <p class="card-text">Salsa de tomate, muzzarella, cebolla caramelizada y vino tinto</p>
                    <h2>$350</h2>
                    <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Tamaño
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Individual</a>
                    <a class="dropdown-item" href="#">Mediana</a>
                    <a class="dropdown-item" href="#">Grande</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Extra Grande</a>
                    </div>
                    </div>
                    <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                    </div>
                    </div>
                  </section>              
                  </div>
        </div> 
</section>  

          
<section class="container-fluid productos p1">
          <div class="row">
          <div class="col-12 tit">
          <h2 class="titulo-pizzas">Pizzas Clasicas</h2>
          </div>    
          <div class="col-12 col-sm-6 col-lg-3">
           <section class="box">  
                  <div class="card" style="width: 18rem;">
                  <img src="../public/images/muzzarella.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Muzzarella</h5>
                  <p class="card-text">Salsa de tomate, muzzarella y oregano.</p>
                  <h3>$250</h3>
                  <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Tamaño
                  </button>
                  <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Individual</a>
                  <a class="dropdown-item" href="#">Mediana</a>
                  <a class="dropdown-item" href="#">Grande</a>
                </div>
              </div>
              <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>
        </section>         
      </div> 
      
     <div class="col-12 col-sm-6 col-lg-3">
    <section class="box">    
      <div class="card" style="width: 18rem;">
          <img src="./img/c" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Fugazzeta</h5>
          <p class="card-text">Salsa de tomate, muzzarella, cebolla</p>
          <h3>$250</h3>
          <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Tamaño
          </button>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Individual</a>
          <a class="dropdown-item" href="#">Mediana</a>
          <a class="dropdown-item" href="#">Grande</a>
        </div>
      </div>
      <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
</section>              
</div>

<div class="col-12 col-sm-6 col-lg-3">
<section class="box">
<div class="card" style="width: 18rem;">
<img src="../public/images/napo.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Napolitana</h5>
<p class="card-text">Salsa de tomate, muzzarella, tomate, ajo y oregano.</p>
<h3>$300</h3>
<div class="btn-group">
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Tamaño
</button>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">Individual</a>
<a class="dropdown-item" href="#">Mediana</a>
<a class="dropdown-item" href="#">Grande</a>
</div>
</div>
<a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
</div>
</div>
</section>   
</div>    

<div class="col-12 col-sm-6 col-lg-3"> 
                  <section class="box">            
                  <div class="card" style="width: 18rem;">
                  <img src="../public/images/jamon.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5 class="card-title">Jamón</h5>
                  <p class="card-text">Salsa de tomate, muzzarella, jamón y oregano.</p>
                  <h3>$300</h3>
                  <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tamaño
                  </button>
                  <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Individual</a>
                  <a class="dropdown-item" href="#">Mediana</a>
                  <a class="dropdown-item" href="#">Grande</a>
                  </div>
                  </div>
                  <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                  </div>
                  </div>
                </section>    
                </div>
        
        
          </div> 
</section>                                           
          
         
          
<section class="container-fluid productos p1">
    <div class="row">
    <div class="col-12 tit">
    <h2 class="titulo-pizzas">Pizzas de autor</h2>
    </div>    
    <div class="col-12 col-sm-6 col-lg-3">
     <section class="box">  
            <div class="card" style="width: 18rem;">
            <img src="../public/images/Peperoni.JPG" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Peperoni</h5>
            <p class="card-text">Salsa de tomate, muzzarella y peperoni.</p>
            <h3>$250</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
          </section>         
          </div> 
  
            <div class="col-12 col-sm-6 col-lg-3"> 
            <section class="box">            
            <div class="card" style="width: 18rem;">
            <img src="../public/images/jamon y morrones.JPG" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Jamón y Morrón</h5>
            <p class="card-text">Salsa de tomate, muzzarella, jamón y morrones asados.</p>
            <h3>$300</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
          </section>    
          </div>
  
            <div class="col-12 col-sm-6 col-lg-3">
          <section class="box">
            <div class="card" style="width: 18rem;">
            <img src="../public/images/Provolone.JPG" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Provolone</h5>
            <p class="card-text">Salsa de tomate, provolone y muzzarella.</p>
            <h3>$350</h3>
            <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tamaño
            </button>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Individual</a>
            <a class="dropdown-item" href="#">Mediana</a>
            <a class="dropdown-item" href="#">Grande</a>
            </div>
            </div>
            <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
          </section>   
          </div>    
  
            <div class="col-12 col-sm-6 col-lg-3">
          <section class="box">    
            <div class="card" style="width: 18rem;">
              <img src="https://i.ibb.co/7JY2ZRp/cebolla.jpg" alt="cebolla" width="100%" >
                <div class="card-body">
                <h5 class="card-title">Cebolla</h5>
                <p class="card-text">Salsa de tomate, muzzarella, cebolla</p>
                <h3>$250</h3>
                <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Tamaño
                </button>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Individual</a>
                <a class="dropdown-item" href="#">Mediana</a>
                <a class="dropdown-item" href="#">Grande</a>
                </div>
                </div>
                <a href="#" class="btn btn-danger">Agregar   <i class="fas fa-shopping-cart"></i></a>
                </div>
                </div>
              </section>              
              </div>
    </div> 
</section>
    




<footer>
<%- include("partials/footer") %>
</footer>

           


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
</html>