<!DOCTYPE html>
<html>
  <head>
      <%- include("../partials/head") %>
      
    </head>
    <body>
      <header class="container-fluid  col-12 col-sm-0">
        <%- include("../partials/header") %>
      </header>
    
  
    
      
    <!--Inicio formulario-->
    <section class="prueba container mx-auto ">

      <div class=" row ">

            <form class=" container-fluid" method="POST" id="registerForm">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label >Email</label>
                        <input type="email" class="form-control" name="email" >
                        <p class="invalid-feedback"></p>
                      </div>
                      <div class="form-group col-md-3">
                        <label >Contraseña</label>
                        <input type="password" class="form-control" name = "password" >
                        <p class="invalid-feedback"></p>
                      </div>
                      <div class="form-group col-md-3">
                        <label   >Repetir Contraseña</label>
                        <input type="password" class="form-control"  name = "confirmpassword">
                        <p class="invalid-feedback"></p>
                      </div>
                    </div>
                    
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label >Nombre</label>
                                <input name="name" type="text" class="form-control " >
                                  <p class="invalid-feedback"></p>
                              </div>
                              <div class="form-group col-md-6">
                                <label >Apellido</label>
                                <input type="text" name = "lastName" class="form-control" >
                                <p class="invalid-feedback"></p>

                              </div>
                            </div>
                    
                    
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                    
                  </form>
                  </div>

                  <div> 
                    
                      <% if (typeof errors != "undefined") { %>
                         <ul>
                        <% for(let i = 0 ; i<errors.length ; i++) { %> 
                          <li> <%= errors[i].msg %> </li>
                         <% } %>                                         
                      
                  
                        </ul>
                        <% } %>
                        
                  
    </section>

 
                        <% if (save ) { %> </div class=" row col-md-4">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>REGISTRO COMPLETADO!</strong> Ahora puedes a empezar a comprar PIZZA.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> <% } %>
    
    <!--footer-->
    
      <%- include("../partials/footer") %> 
    
  
<script  type = "text/javascript"  src = "/js/validator.min.js" > </script>
<script src="/js/user/crear.js"> </script>
</body>
</html>n